:root {
  --negro: #1c1c1c;
  --blanco: #fff;
  --blancov2: #c4d1ec;
  --rojo: #c6001b;
  --negro: #181818;
  --negrov1: #000;
  --negrov2: #0e0e0e;
  --animate-duration: 2s;
}

.logo {
  --animate-duration: 0.5s;
}

main > .container {
  padding: 70px 15px 20px;
}

body {
  font-family: "Cabin", sans-serif !important;
}

.footer {
  background-color: #f5f5f5;
  font-size: 0.9em;
  height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: "";
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.form-group {
  margin-bottom: 1rem;
}

/* ESTILOS PROPIOS */

/* GLOBALES */

main > .container {
  padding: 0;
}
body {
  color: var(--blanco);
  overflow-x: hidden;
}

.navbar .nav-item .nav-link,
.text-header {
  font-family: "Cabin", sans-serif;
  color: var(--blanco);
}

.navbar .nav-item .nav-link.active {
  color: var(--rojo);
}

header,
body,
footer {
  background-color: var(--negro) !important;
}

img {
  width: 100%;
}

footer {
  height: 6vh;
}

#main .container {
  background-color: var(--negro);
  max-width: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif;
  color: var(--rojo);
}

p {
  color: var(--blanco);
}

.btn-c {
  padding: 10px 20px;
  transition: 0.3s ease-in !important;
  transform: skewX(-10deg);
  border-radius: 0;
  color: var(--blancov2) !important;
  border: 1px solid var(--blancov2) !important;
  padding: 10px 20px !important;
}

.btn-c:hover {
  border-color: var(--rojo) !important;
}

/* LOGO */

.logo {
  width: 80px;
}

/* ESTILOS MAIN HOME */

.titles {
  display: flex;
  flex-direction: column;
}
.container-h,
.contenedor-l {
  height: 100%;
}

.contenedor-l {
  flex-direction: column;
  background-color: black !important;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .titulo-h,
.subtitulo-h {
  color: var(--blanco);
  background-color: var(--rojo);
  background-image: url("../img/mancha.jpeg");
  background-size: contain;
  background-position: center;

  padding: 15px 30px;
  text-align: center;
  transform: skewX(-20deg);
}
.home .info {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-left: 30px;
  z-index: 1;
}
.home .titulo-h {
  order: 2;
  font-weight: 700;
  font-size: 4.5rem;
  padding: 5px 0;
}

.home .subtitulo-h {
  position: relative;
  top: 27px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-c {
  position: relative;
  color: var(--blanco);
  border: 2px solid var(--blancov2);
}

.info-principal {
  margin-top: 1rem;
}

.fa-arrow-right {
  margin-left: 20px;
}

.s-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.s-2 {
  background-color: var(--negrov2);
  padding: 100px 0 !important;
}

.subtitle {
  color: var(--rojo);
  font-size: 3rem;
}

.subtitle-l-v {
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 3rem;
  color: var(--blancov2);
}

.s2-info {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

/* ESTILOS MENU */
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.navbar-nav .text-container {
  color: var(--blancov2);
  font-size: 17px;
}

.menu-items {
  display: flex;
  align-items: center;
  width: 82%;
}

.menu-links {
  display: flex;
  margin: 0 5px;
  justify-content: center;
  margin: 0 auto;
}

.menu-links span {
  margin: 0 5px;
}

.social-links {
  display: flex;
}

.social-links span {
  margin-left: 10px;
}

.menu-links .nav-link,
.social-links .nav-link {
  color: var(--blancov2);
}

nav,
.footer-info {
  font-family: "Cabin" !important;
}

.footer-info {
  font-size: 14px;
  text-align: center !important;
}

/* SCROLL MENU */
.navbar {
  background-color: #000;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #1c1c1c;
}

/* HOME CUADROS INFO*/
.c-info {
  position: absolute;
  bottom: 0;
}

.cont-section.serv {
  width: 100%;
  background-color: transparent;
  max-width: unset;
}

.list-services .nav-a {
  padding: 0.2em 0.9em;
}

.list-services .nav-a {
  width: 20%;
  min-width: 150px;
  max-width: 170px;
  display: block;
  background-color: #0000008c;
  transition: all 0.4s ease;
  position: relative;
  flex-grow: 1;
  padding: 0.5em 1em;
  min-height: 150px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 5px;
}

.list-services .menu-card-bx-top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  padding: 1rem;
  gap: 10px;
}

.nav-a .mod-svg {
  width: 50px;
  height: 50px;
}

.nav-a .mod-svg svg {
  fill: white;
  width: 40px;
}

.list-services .menu-card-bx-top .nav-title::after {
  content: "\e89f";
  font-size: 1.5em;
  color: white;
  font-family: "Material Symbols Outlined";
  transform: rotate·D(120deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.list-services .menu-card-bx-top .nav-intro_text,
.list-services .menu-card-bx-top .nav-sub_title {
  display: none;
}

.list-services .menu-card-bx-down {
  position: absolute;
  transition: 0.6s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  color: white;
  background-color: var(--real-corp-color-1);
  backdrop-filter: blur(2px);
  transition: 0.6s;
  width: 110%;
  padding: 1.8em;
  min-width: 220px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 280px;
  overflow: hidden;
}

.menu-card-bx-down .nav-sub_title {
  font-size: 14px;
}

.menu-card-bx-down .nav-sub_title,
.nav-icon-prin {
  text-align: left;
}

.menu-card-bx-down .nav-title {
  font-weight: 700;
}

.list-services .menu-card-bx-down .mod-svg {
  width: 100%;
  height: 50px;
}

/* HOVER */
.list-services .nav-a:hover .menu-card-bx-down {
  transform: translate(-50%, -50%) scale(1, 1);
}

.list-services .menu-card-bx-down {
  position: absolute;
  transition: 0.6s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  color: var(--blanco);
  background-color: var(--rojo);
  backdrop-filter: blur(2px);
  transition: 0.6s;
  width: 110%;
  padding: 1.8em;
  min-width: 240px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 280px;
  overflow: hidden;
}

.list-services .menu-card-bx-down .mod-svg {
  width: 100%;
  height: 50px;
}

.list-services .menu-card-bx-top .nav-title::after {
  content: "\e89f";
  font-size: 1.5em;
  color: white;
  font-family: "Material Symbols Outlined";
  transform: rotate·D(120deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/* ESTILOS CLASIFICACION MIGUEL */
.section.n-root {
  width: 87.5%;
}

.section {
  margin-top: 150px !important;
}

.section .summary {
  padding: 15px 0;
}

.section.n-root h1 {
  color: var(--rojo);
}

table thead tr th {
  color: var(--rojo) !important;
}

/* ESTILOS CLASIFICACION Dani */
.n-root {
  width: 87.5%;
  margin: 0 auto;
  margin-top: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 20px 0;
}

.card.alturaminima {
  background: unset;
  border: 1px solid var(--blancov2);
}

.card-body.tarjeta h6 {
  color: var(--blancov2);
  text-align: center;
}

.grid-view .summary {
  display: none;
}

.site-index {
  padding: 20px 0;
}

.wrapper .tarjeta tr th,
tr td {
  text-align: center;
}

.fila-2,
.fila-3,
.fila-4,
.fila-5 {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* CORRECIONES A LA VERSIÓN XAMPP */
.container {
  padding: 0;
  max-width: unset !important;
}

.section-curiosidades {
  padding-bottom: 0 !important;
  padding-top: 8em !important;
}

tr,
td,
th {
  font-family: "Cabin", sans-serif;
}

.section-curiosidades .jumbotron {
  padding-bottom: 0;
  padding-top: 25px;
}

.section-clasificacion {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 8em !important;
}

.section-clasificacion .jumbotron {
  padding-bottom: 0;
  padding-top: 25px;
}

.section-etapas .jumbotron{
  padding-bottom: 0;
  padding-top: 25px;
}

.section-etapas {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 8em !important;
}

.section-curiosidades .wrapper .anim-c:nth-child(17) .card {
  height: 212.38px !important;
}

.section-curiosidades .wrapper .anim-c:nth-child(19) .card {
  height: 212.38px !important;
}

/* ETAPAS */

.section-etapas .n-root.wrapper {
  width: 87.5% !important;
  margin: 0 auto !important;
  margin-top: 50px !important;
}

.section-etapas .n-root.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 20px 0;
}
